name: GitHub CI

on:
  push:
    branches:
      - master
      - main
      - next
  pull_request:
    branches:
      - master
      - main
      - next

jobs:
  test:
    name: General checks, tests and coverage reporting
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v3

    - name: Use Node.js LTS 16.x
      uses: actions/setup-node@v3.3.0
      with:
        node-version: 16.x

    - name: Install dependencies
      run: npm ci

    - name: Perform checks and tests
      run: npm test

    - name: Send report to Coveralls
      uses: coverallsapp/github-action@1.1.3
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
